---
import { debracketKeepFirst } from "@/scripts/util";
import Layout from "../../components/Layout.astro";
import type { CollectionEntry } from 'astro:content';
import { getCollection, render} from "astro:content";
import { Badge } from '@astrojs/starlight/components';

interface Props {
	page: CollectionEntry<'library'>;
}

export async function getStaticPaths() {
  const pages = await getCollection('library');
  return pages.map(page => ({
    params: { id: page.id },
    props: { page },
  }));
}
const { page } = Astro.props;
const { Content } = await render(page);
export const prerender = true;
---

<Layout pageTitle={ page.data.title } pageStyle='library' starlightSettings={{prev: false, next: false, graph: {visible: false}}}>
  <div class="sl-container properties">
    { page.data.author ?
      <div id="author" class="property">
        by {page.data.author}
      </div>
        : ''
    }
    { page.data.url ?
      <div id="source-url" class="property">
        source: <a target="_blank" rel="noopener noreferrer" href={page.data.url}>{page.data.url}</a>
      </div>
        : ''
    }
    { page.data.published_date ?
      <div id="published-date" class="property">
        published: {page.data.published_date.toLocaleDateString()}
      </div>
        : ''
    }
   {page.data.caveats ? (
    <div class="sl-container caveats">
          {page.data.caveats.map((X: any) => (
            <Badge text={debracketKeepFirst(X)} variant="caution"></Badge>
          ))}
    </div>
  ) : null}
    </div>
<Content />
</Layout>